.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.Calculator {
  width: 100%;
  max-width: 500px;
  background-color: rgb(192, 199, 219);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
}

.BeautifulScreen {
  padding: 8px;
  margin: 0px;
  text-align: left;
  background-color: #fff;
  color: black;
  font-size: 24px;
  font-weight: 300;
}

button {
  appearance: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  opacity: 0.9;
}

.GreatOperationButton {
  display: flex;
}

.GreatOperationButton button {
  flex: 1 1 0%;
  background-color: blueviolet;
  font-weight: 700;
}

.AmazingNumberButton {
  display: flex;
  flex-wrap: wrap;
}

.AmazingNumberButton button {
  flex: 1 1 33.33%;
  background-color: black;
}

.save {  
  display: flex;
  flex-wrap: wrap;
}

.save lu {
  flex: 1 1 33.33%;
}
.ItSOverNineThousand {
  color: red;
}
